.collection-index{
    background-repeat:no-repeat;
    background-position: 50% 100%;
    background-position: 100% 80%;

}

.collection-index table{
    background-color:#fff;
}

h3.collection-intro{
    font-family: FuturaStdBook;
    color:#553F92;
}

.collection-wrapper{
    background-repeat:no-repeat;
    background-position: 80% 100%;
    
    @media (min-width: 1281px) {
        margin-top:60px;
        padding:60px;
    }
    
    form{
        background-color:#fff;
    }

    table{
        background-color:#fff;
    }   

    h3{
        font-family: FuturaStdBook;
        color:#553F92;
    }
}

