//@import url(https://fonts.googleapis.com/css?family=Nunito);

@import url(https://fonts.googleapis.com/css?family=Open+Sans);

@font-face {
	font-family: "FuturaBook";
	src: url("/fonts/Futura Book.ttf") format("truetype");
}

//Titels and headings
@font-face {
	font-family: "AnotherFlight";
	src: url("/fonts/Another Flight.otf") format("truetype");
}

//Paragraphs
@font-face {
	font-family: "FuturaStdBook";
	src: url("/fonts/Futura Std Book.ttf") format("truetype");
}

@font-face {
	font-family: "FuturaTotBook";
	src: url("/fonts/Futura TOT Book.ttf") format("truetype");
}