
html,
body {
  overflow-x: hidden;
}
#nav-main {
  margin-bottom: 40px;
}

#mapid {
  height: calc(100vh - 64px);
  width: 85%;
  width:100%;
  float: left;
}

#mapid .fullwidth {
  width: 100%;
}

.leaflet-draw-toolbar .leaflet-draw-draw-polyline{display: none; }

#layers {
  width: 15%;
  float: right;
  height: calc(100vh - 64px);
  background-color: #fff;
  color: #fff;
  display:flex;
  flex-direction: column;
  justify-content: center;
  overflow: auto;

}
#layers.active{
    z-index:9999;
    position: fixed;
    right:0;
}
.ui-layers-icon {
  background-image: url("/icons/ui_layers.png");
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
}

#layers ul li {
  padding-left: 10px;
  height:50px;
  vertical-align: middle;
  line-height: 50px;
  //border-bottom: 1px solid #ccc;
}

#layers ul li:first-child {
  //border-top: 1px solid;
}

#layers ul li:hover{
  color: #000;
  cursor: pointer;
  background-color:#f1f1f1;
}

#layers .layer-item .title {
 font-size:1.3rem;
  color:#553F92;
}

#layers .layer-item .remove {
  position: absolute;
  right:20px;
  margin-top:15px;
}
 

.audioPopup{
  display: none;
  position: fixed;
  background: #fff;
  height:calc(100vh - 64px );
  left: 100px;
  padding: 20px;
  width: 40%;
  bottom: 0;
  top: 64px;
  overflow: auto;
}

.audioPopup.open{
  display: block;
}
.audioPopup.close{
  display: none;
}


#messageWrapper{
  height:30px;
  text-align: center;
  vertical-align: middle;
  color:#fff;
  display:none;

  &.active{
    display: block;
  }

  .alert{
    height:100%;
  }

  .alert-success{
    background-color:green;
    
  }

  .alert-danger{
    background-color:red;

  }
}