html body{
    //purple color
    .color-primary{
      color: $primary;
    }
  
    //orange
    .color-secondary{
      color: $secondary;
    }
  
    //orange
    .color-accent{
      color: $accent;
    }
  
    .color-white{
      color: $white;
    }
  
    .color-black{
      color: $black;
    }
  
    //purple
    .background-primary{
      background: $primary;
    }
  
    //orange
    .background-secondary{
      background: $secondary;
    }
  
    //orange
    .background-accent{
      background: $accent;
    }
  
    .background-white{
      background: $white;
    }
  
    .background-black{
      background: $black;
    }
  }

.text-center{
  text-align:center;
}

.box-shadow-inset{
  -moz-box-shadow:    inset 0 0 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  box-shadow:         inset 0 0 5px rgba(0, 0, 0, 0.2);
}
