// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "FuturaStdBook", sans-serif;
$font-size-base: 1rem;
$line-height-base: 1.6;

// Colors
$primary: #553F92;
$secondary: #F59F1F;
$accent: #DC1F86;
$black: #2B2626;
$white: #FFFFFF;

h1,h2,h3,h4,h5,h6{
  font-family: 'FuturaBook', 'sans-serif';  
}
p, span {
    font-family: 'Open Sans', 'sans-serif';
    font-size: $font-size-base;  
    line-height: $line-height-base;
}