@import url(https://fonts.googleapis.com/css?family=Nunito);html,
body {
  overflow-x: hidden;
}

#nav-main {
  margin-bottom: 40px;
}

#mapid {
  height: calc(100vh - 64px);
  width: 100%;
}

#create-collection {
  position: absolute;
  right: 20px;
  bottom: 20px;
  z-index: 99999;
}

#saveCollection {
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 99999;
}

#toggleNavigation {
  position: fixed;
  right: 20px;
  top: 120px;
  z-index: 9999;
}

