@import url(https://fonts.googleapis.com/css?family=Open+Sans);h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'FuturaBook', 'sans-serif';
}

p,
span {
  font-family: 'Open Sans', 'sans-serif';
  font-size: 1rem;
  line-height: 1.6;
}

@font-face {
  font-family: "FuturaBook";
  src: url("/fonts/Futura Book.ttf") format("truetype");
}

@font-face {
  font-family: "AnotherFlight";
  src: url("/fonts/Another Flight.otf") format("truetype");
}

@font-face {
  font-family: "FuturaStdBook";
  src: url("/fonts/Futura Std Book.ttf") format("truetype");
}

@font-face {
  font-family: "FuturaTotBook";
  src: url("/fonts/Futura TOT Book.ttf") format("truetype");
}

html,
body {
  overflow-x: hidden;
  margin: 0px;
  padding: 0px;
}

html body h1 {
  margin: 0px;
}

html body .color-primary {
  color: #553F92;
}

html body .color-secondary {
  color: #F59F1F;
}

html body .color-accent {
  color: #DC1F86;
}

html body .color-white {
  color: #FFFFFF;
}

html body .color-black {
  color: #2B2626;
}

html body .background-primary {
  background: #553F92;
}

html body .background-secondary {
  background: #F59F1F;
}

html body .background-accent {
  background: #DC1F86;
}

html body .background-white {
  background: #FFFFFF;
}

html body .background-black {
  background: #2B2626;
}

.text-center {
  text-align: center;
}

.hidden {
  display: none !important;
  visibility: hidden;
}

.box-shadow-inset {
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

nav .nav-wrapper {
  background-color: #553F92 !important;
}

#nav-main {
  margin-bottom: 40px;
}

html,
body {
  overflow-x: hidden;
}

#nav-main {
  margin-bottom: 40px;
}

#mapid {
  height: calc(100vh - 64px);
  width: 85%;
  width: 100%;
  float: left;
}

#mapid .fullwidth {
  width: 100%;
}

.leaflet-draw-toolbar .leaflet-draw-draw-polyline {
  display: none;
}

#layers {
  width: 15%;
  float: right;
  height: calc(100vh - 64px);
  background-color: #fff;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: auto;
}

#layers.active {
  z-index: 9999;
  position: fixed;
  right: 0;
}

.ui-layers-icon {
  background-image: url("/icons/ui_layers.png");
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
}

#layers ul li {
  padding-left: 10px;
  height: 50px;
  vertical-align: middle;
  line-height: 50px;
}

#layers ul li:hover {
  color: #000;
  cursor: pointer;
  background-color: #f1f1f1;
}

#layers .layer-item .title {
  font-size: 1.3rem;
  color: #553F92;
}

#layers .layer-item .remove {
  position: absolute;
  right: 20px;
  margin-top: 15px;
}

.audioPopup {
  display: none;
  position: fixed;
  background: #fff;
  height: calc(100vh - 64px);
  left: 100px;
  padding: 20px;
  width: 40%;
  bottom: 0;
  top: 64px;
  overflow: auto;
}

.audioPopup.open {
  display: block;
}

.audioPopup.close {
  display: none;
}

#messageWrapper {
  height: 30px;
  text-align: center;
  vertical-align: middle;
  color: #fff;
  display: none;
}

#messageWrapper.active {
  display: block;
}

#messageWrapper .alert {
  height: 100%;
}

#messageWrapper .alert-success {
  background-color: green;
}

#messageWrapper .alert-danger {
  background-color: red;
}

#create-collection {
  position: absolute;
  right: 20px;
  bottom: 20px;
  z-index: 99999;
}

#saveCollection {
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 99999;
}

#toggleNavigation {
  position: fixed;
  right: 20px;
  top: 120px;
  z-index: 9999;
}

